@model IEnumerable<GratitudeApp.Talot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.linkki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kuvaus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarkeys)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.linkki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kuvaus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarkeys)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.talo_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.talo_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.talo_id })
        </td>
    </tr>
}

</table>
